:root{
    --yellow: #F1C40F;
    --background-grey: #F1F0F0;
    --background-white: #FFFFFF;
    --pure-black: #000000;
    --soft-yellow: #ECC63E;   
    --soft-yellow-2: rgb(236, 198, 62);
    --soft-red: rgba(190, 65, 65, 0.58);
    --soft-green:  rgba(132, 207, 9, 0.58);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;
}
body{
    overflow: hidden;
    position: relative;
}
h2{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.6rem;
    text-align: center;
}
p{
    font-size: 1.6rem;
    font-weight: 300;
}
.button{
    width: 200px;
    height: 36px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-grey);
    border: solid 2px var(--pure-black);
    border-radius: 18px;
    transform: scale(1);
    transition: 400ms;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.visible{
    visibility: visible !important;
    transition: 2s;
}
.hidden{
    display: none !important;
    transition: 2s;
}
/* start menu */
.preloader{
    width: 100%;
    height: 100vh;
    background-color: var(--background-white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.preloader_menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 36px);
    animation: preloader-animation 800ms forwards ease-in-out;
    animation-delay: 1200ms;
}
.preloader_menu .preloader-title{
    opacity: 0%;
    animation: preloader-title 300ms;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
}
.preloader .button{
    visibility: hidden;
    animation: button-appear 800ms 1600ms  forwards;
}
.preloader .button_start{
    background-color: var(--yellow);
}

@keyframes preloader-animation {
    50%{
        transform: translateY(72px);
    }
    100%{
        transform: translateY(-36px);
    }
}
@keyframes preloader-title {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes button-appear {
    0%{  
        visibility: hidden;
        opacity: 0%;
    }
    100%{
        visibility: visible;
        opacity: 100%;
    }
}
/* game menu */
.game_menu{
    width: 100%;
    height: 100vh;
    background-color: var(--background-white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.game_menu_options{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.options-info{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 12px;
}
.options-buttons{
    width: auto;
    height: auto;
    margin: 6px 0px;
}
.options-buttons .button{
    margin: 16px 0px;
}
.options-buttons .button_easy{
    background-color: var(--soft-green);
}
.options-buttons .button_medium{
    background-color: var(--soft-yellow);
}
.options-buttons .button_hard{
    background-color: var(--soft-red);
}
.options-link p{
    text-decoration: underline;
    font-size: small;
    color: #000000;
}
/* how to play */
.instructions_container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}
.instructions_section{
    width: 100%;
    height: 64%;
    padding: 24px;
    overflow: scroll;
    background-color: var(--background-white);
    border: solid 4px var(--background-white);
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    animation: instructions-section 400ms 200ms forwards;
}
.instructions-title{
    text-align: center;
    border-bottom: solid 2px #CECECE;
    margin-bottom: 12px;
}
.instructions-title h2{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
}
.instructions-info li, .instructions-info ul{
    width: fit-content;
    font-size: 12px;
    margin: 0 20px;
}
@keyframes instructions-section{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
/* Main SEction */
.game_main_section{
    width: 100%;
    height: 100vh;
    background-color: var(--background-white);
    display: grid;
    grid-template-rows: 100px 1fr 48px;
    position: relative;
}
.main_title_section{
    width: 100%;
    height: 100px;
    border-bottom: solid 1px #CECECE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game_section{
    place-self: center;
    width: 100%;
    height: 88%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.game_section .game_section_player, .game_section .game_section_computer{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_options_section, .option-container{
    width: 80%;
    height: auto;
    margin: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.option-container{
    width: 80px;
    height: 80px;
    margin: 4px;
    background-color: var(--background-white);
    border: solid 4px var(--pure-black);
    border-radius: 50%;
}
.game_section_player .option-container:hover{
    background-color: var(--soft-yellow);
}
.option-container i{
    font-size: 30px;
}
.vs-division{
    width: 80%;
    margin-bottom: 12px;
    border-top: solid 1px #CECECE;
    position: relative;
}
.vs-division strong{
    width: 24px;
    height: auto;
    line-height: 14px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--background-white);
    position: absolute;
    top: -7px;
    left: calc(50% - 10px);
}
.pause-button{
    width: auto;
    height: auto;
    margin: 12px;
    position: absolute;
    bottom: -10px;
    right: 10px;
}
.pause-button i{
    font-size: 20px;
}
.footer_section{
    width: 100%;
    height: 48px;
    padding: 10px;
    font-size: 8px;
    background-color: var(--background-grey);
    border-top: solid 1px #000000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer_section .personal_info{
    place-self: center start;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.personal_info a, .personal-logo a{
    text-decoration: none;
    color: #000000;
}
.footer_section .personal-logo{
    place-self: center;
    width: auto;
    height: auto;
    font-size: 12px;
}
.footer_section .date{
    place-self: center end;
    width: auto;
    height: auto;
}
/* pause section */
.pause_container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
}
.pause_section{
    width: 240px;
    height: 240px;
    background-color: var(--background-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button_continue{
    background-color: var(--soft-yellow);
}
/* results */
.results_container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
}
.results_section{
    width: 240px;
    height: auto;
    padding: 20px;
    background-color: var(--background-white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.results_section h2{
    align-self: start;
}
.players_results{
    width: 92%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.players_results h2{
    align-self: center;
    font-weight: 300;
}
.players_results .selections-container{
    width: 100%;
    height: auto;
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}
.selections-container div p{
    text-align: center;
}